--- 
layout: default 
before-and-after:
 - before-image: /images/door-after.jpg
   after-image: /images/placeholder-photo-1.jpg
 - before-image: /images/placeholder-photo-2.jpg
   after-image: /images/placeholder-photo-1.jpg 
 - before-image: /images/placeholder-photo-2.jpg
   after-image: /images/placeholder-photo-1.jpg
process:
 - title: Project Inititations
   description: This phase involves defining the project’s scope, objectives, and feasibility, conducting site evaluations, and developing a detailed project plan, budget, and timeline. 
 - title: Design phase
   description: Architects, engineers, and designers collaborate to create detailed plans, secure necessary permits, and finalize designs with stakeholder input.
 - title: Pre-Construction Preparation
   description: Materials, labor, and equipment are procured, the construction site is set up, and a comprehensive construction schedule is developed.
 - title: Construction Execution
   description:  The site is prepared, foundation and structural work begins, and construction is managed with ongoing supervision, inspections, and quality control
 - title: Mechanical, Electrical, and Plumbing (MEP) Installation
   description: HVAC, electrical, plumbing, and other systems are installed in line with design specifications and building standards.
 - title: Interior Finishing and Exterior Work
   description: Interior work such as flooring, painting, and fixtures is completed, while exterior finishes, landscaping, and paving are finalized.
 - title: Testing and Commissioning
   description: All systems are tested and inspected to ensure they meet functionality, safety, and quality standards 
 - title: Handover and Closeout
   description: The finished project is handed over to the client following inspections, with all documentation, certifications, and final administrative tasks completed. 
reviews:
 - title: Michael Platt
   description: "Alpha Home Services did a fantastic job renovating my basement floor with custom mantle work, a pocket door install, and entirely new flooring. Enrique and Alex ensured that all the work was done exactly to my specifications and were extremely friendly while doing so. I've used several contractors in my homes for several years, and Alpha Home Services is the only one that I would use again or recommend with zero hesitation." 
 - title: Marc Gunberg
   description: "We used alpha home services to remodel two of our bathrooms. Both Alex and Enrique were excellent to work with, clear in their process and working with me on cost. While the remodel took longer than anticipated and there were some minor issues - they were responsive and came back to address them quickly - and this is after I paid! Highly recommend this company for your remodeling needs."
 - title: Thomas Armistead
   description: "The Alpha crew was very professional, showed up every day on time and communicated the progress thoroughly. Their work reflected the professionalism of the service! Would highly recommend these guys to anyone seeking home remodel work."
 - title: Selamawit M.
   description: Alpha Home Services was such a big help! I had a water leak incident that damaged the floor and ceiling of my home and Alpha Home Services was able to come quickly and open the ceiling and take out the dry wall. The first day they came they laid out all the plastic and closed off the damaged area and took out the dry wall to let air dry the foundation of the home. The next day they let it dry and came to check and spray to ensure there would be no mold. After they came again to install new dry wall and paint. They also were able to give me an estimate for all the damages and talk to my insurance company for the claim. I was able to get my claim and my home repaired in no time. Thank you again!
 - title: Jack Daly
   description: Alpha Home Services did an incredible job for the project at my home. They were quick, efficient, and provided amazing customer service. Additionally, they were competitive with their pricing. I would highly recommend Alpha Home Services for any home projects you are considering.
 - title: Brian C
   description: Kind, well spoken, and great work
--- 

<section class="padded-top center bg-blue tall-30 white">
  <h2 class="rem-7 smooth-font m-t-3">Alpha Home Services</h2>
    <h1>Home rennovation and remodeling in the DMV (DC, Maryland, Virginia) area<br></h1>
  <!-- <p class="col-10 p-b-2 m-t-3 center">So many keywords google is overwhelmed and boom, you are on the first page!
    </p> -->
</section>

<section class="grid-spaceAround center padded-2 p-t-3" id="reviews"> 
  <h2 class="col-12"> Reviews</h2>
  <div class="col-10 m-b-2">
    <div class="testimonial-slider-container testimonial"> 
    <!-------------------- SLIDE 1 ------------------------------>
    {%for slide in page.reviews%}
    <div class="slider-item"> 
      <h4>{{slide.title}}</h4>
      <p class="italic">
        "{{slide.description}}"
      </p>
    </div> 
    {%endfor%}
    </div>
  </div>
</section> 

<hr class="col-12" id="blueline"> 

<!---------------------------------------------------------- About us-------------------------------------------------->
              
<section class="grid-spaceAround padded-2" id="about-us">
  <div class="col-2_sm-6_xs-12-middle">
    <h2> About Us </h2>
  </div>
  <div class="col-8_sm-6_xs-12 padded">
    <div data-aos="fade-left">
    <p>   At Alpha Home Services, we are dedicated to crafting exceptional residential spaces that exceed our clients' expectations in the DMV (DC, Maryland, and Virginia).  Our specaility is in kitchens, bathroom, remodels, and renovations. Through our unwavering commitment to quality craftsmanship, innovation, and client satisfaction, we strive to create homes that inspire and endure for generations. </p>
    <p> We aim to foster enduring relationships with our clients, suppliers, and partners, built on trust, integrity, and mutual respect. Our mission is to be recognized as a premier residential construction company, delivering unparalleled value and excellence in every project we undertake..</p>
    </div>
  </div>
</section>

<!--------------------------------------------------------- Certifications  ------------------------------------------>

<section class="grid-spaceAround padded" id="services">
  <h2 class="col-12 center">Services</h2>
  <div data-aos="fade-up">
  <p class="col-12 blocktext">We will help you with the following home rennovation projects. In the interior, we do <span class="bold">additions, bathrooms, carpentry, framing, kitchen, minor electrical and minor plumbing</span>. In the exterior we do <span class="bold">additions, carpentry, concrete, deck, enclosures, framing, garage repair, remodeling, roofing, and sheds</span>. If you have a specific inquiry or request, please contact us - we are sure we will be able to find a solution or point you in the right direction. </p>
 </div>
</section>

<!-- <section class="padded center grid-spaceAround" id="services">
    <h2 class="col-10 center underline"> Services </h2>
    <div class="col-4_sm-12">
      <i class="fa-solid fa-video fontawesome"></i>
      <h4> Interior </h4>
      <p>additions</p>
      <p>bathroom</p>
      <p>carpentry</p>
      <p>framing</p>
      <p>kitchen</p>
      <p>minor electrical</p>
      <p>minor plumbing</p>
    </div>
    <div class="col-4_sm-12">
      <i class="fa-solid fa-square-poll-vertical fontawesome"></i>
      <h4> Exterior</h4>
      <p>additions</p>
      <p>carpentry</p>
      <p>concrete</p>
      <p>deck</p>
      <p>enclosures</p>
      <p>framing</p>
      <p>garage repair</p>
      <p>remodeling</p>
      <p>roofing</p>
      <p>sheds</p>
    </div>
</section> -->




<!---------------------------------------------------------- Contact us ----------------------------------------------->
              
<section class="grid" id="contact">
    <div class="col-6_sm-12 padded bg-gray center white p-t-10">
      <h2> Get In Touch </h2>
      <p> We’re here to help with all your construction needs, from initial planning to final completion. Reach out to us, and let’s build something great together.      </p>
      <p> <strong> Email: </strong> <a href="mailto:alphahomeservices.af@gmail.com">alphahomeservices.af@gmail.com</a></p>
      <p> <strong> Phone: </strong> <a href="tel:+1(571)527-6308">(571) 527-6308 </a> </p>
      <!-- <p> <strong> Facebook: </strong> <a href="#">fb example </a> </p> -->
    </div>
    <div class="col-6_sm-12-middle padded bg-teal">
        <form name="contact" action="https://formspree.io/f/xzzplbzw"
        method="POST" class="grid-center" data-netlify="true">
            <div class="floating-input col-6 white-underline">
            <input class="inp" type="text" name="_name" id="_name" placeholder="Your name" />
            </div>
            <div class="floating-input col-6">
            <input class="inp" type="text" name="_email" placeholder="Your Email" />
            </div>
            <div class="floating-input col-12">
            <textarea class="inp" name="message" id="message" placeholder="Information about Your project, inquiry, questions..."></textarea>
            </div>
            <button type="submit" class="col-2 p-t-28"> Send </button> 
        </form>
    </div>
</section>
  




            
<!----------------------------------------------- About us and certifications option 2 ------------------------------------------->

<!-- <section class="padded">
  <div class="grid padded flex-flip">
    
    <div class="col-5_sm-12 bg-image bg-mountain">
    </div>
    <div class="col-7_sm-12-middle padded">
      <h4 class="subtle-heading"> About Us </h4>
      <div data-aos="fade-left">
      <h3> Clever catchy headline </h3>
      <p class="left"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque necessitatibus earum excepturi nihil quo quasi quidem delectus aliquam, illum, modi dolorum iure sapiente, dolores fuga eaque exercitationem dolor hic nulla. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur reprehenderit excepturi nulla porro id? Veritatis explicabo, iure autem qui error ab nulla maxime non eos maiores tenetur, reprehenderit dolores corporis. </p>
      <a class="button" href="#contact"> Contact Us </a>
    </div>
    </div>
  </div>
  <div class="grid padded flex-flip">
    <div class="col-5_sm-12 bg-image bg-adventure">
    </div>
    <div class="col-7_sm-12-middle padded" id="certifications">
      <h4 class="subtle-heading"> Certifications </h4>
      <div data-aos="fade-right">
      <h3> Verified performance </h3>
      <p class="left"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quod harum reiciendis laborum, eos facere distinctio nisi eaque inventore consequatur iste vero a quasi, alias ex! Nisi facilis maiores esse. Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae vero quis aliquam illo quo maiores quam expedita assumenda optio quas? Dignissimos obcaecati vitae enim tenetur, quos velit at maiores sint. </p>
      <a class="button" href="#past-performance"> View our work </a>
      </div>
    </div>

  </div>
</section> -->

            
          


<!------------------------------------------------- Past performance ------------------------------------------------->

     
              
<section class="padded grid-spaceBetween center" id="past-performance">
  <h2 class="col-12"> Past Projects </h2>
  <!-- <p class="center"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores illum sunt tenetur dicta sit quae voluptate consequatur delectus accusamus, natus odit illo molestias eius molestiae perferendis excepturi aut numquam iusto?</p> -->

  <div class="col-4">
    <img src="/images/door-after.jpg">
  </div>

  <div class="col-4">
    <img src="/images/porch.jpg">
  </div>

  <div class="col-4">
    <img src="/images/stairs-after.jpg">
  </div>

  <!-- <div class="grid-spaceBetween padded-1">
    {%for image in page.before-and-after%}
    <div class="col-4_sm-12 {%if forloop.index > 2%} mob-hide {%endif%}">
        <div class="padded-1 before-after" style="background-image: url('{{image.before-image}}')">
          <img src="{{image.after-image}}">
        </div>
    </div>
    {%endfor%}
    
    </div> -->
</section>

<hr class="col-12" id="blueline"> 

<!-- <section class="center padded mob-padded-0 pricing" id="pricing">
  <h2> Pricing</h2>
  <p class="center"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, alias magnam error iure eaque harum consectetur minus saepe in esse maxime molestias, ullam, laudantium ad natus impedit dicta autem tempora! <a href="#contact" class="text-link"> Contact us </a>  </p>
  <div class="grid-spaceBetween horizontal-scroll"> 
    <div class="col-3_md-6_xs-12 padded-05">
      <div class="card">
          <h3>  Photographs </h3>
          <h4 class="price"> $95</h4>
          <p> Aerial photographs to showcase your portfolio. </p>
          <ul class="pricing-ul">
            <li> per session</li>
            <li> up to 10 images</li>
            <li> 4K quality</li>
            <li> custom crops</li>
          </ul>
      </div>
    </div>
    <div class="col-3_md-6_xs-12 padded-05 bg-red">
      <div class="card bg-red">
         <h3>  Turnkey </h3>
        <h4 class="price"> $945</h4>
        <p> Custom content and landing page creation for a flat fee. </p>
        <ul class="pricing-ul">
          <li> 4K edited video</li>
          <li> up to 10 images </li>
          <li> customised website</li>
          <li> domain setup</li>
        </ul>
      </div>
    </div>
    <div class="col-3_md-6_xs-12 padded-05">
      <div class="card">
          <h3>  Surveys </h3>
          <h4 class="price"> $450</h4>
          <p> Land surveying pilots cut across several sectors. </p>
          <ul class="pricing-ul">
            <li> per day of operations</li>
            <li> customizable quotes</li> 
            <li> scale and complexity</li> 
            <li> inquire today</li> 
          </ul>
      </div>
    </div>
    
  </div>

  
</section> -->



<!-- <section id="map" class="grid padded">
  <div class="col-6_sm-12">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2570.4131234225697!2d10.175032650957887!3d49.89104683529375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a28b3903c70db7%3A0x9d1fb0a1f2896bdd!2sDorfladen%20mit%20Caf%C3%A9%20am%20Wengert!5e0!3m2!1sen!2sde!4v1653117783317!5m2!1sen!2sde"
      width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  <div class="col-6_sm-12-middle padded p-l-9 editable">
      <h2 class="p-b-1 bigger editable"> Wo du uns findest </h2>
      <p> Hertleinsbergweg 2 <br> 97247 Eisenheim </p>
      <p><strong> Email: </strong> <a href="mailto:info@dorfladen-eisenheim.de"> info@dorfladen-eisenheim.de </a></p>
      <p> <strong> Phone: </strong><a href="tel:+4993869797580"> +49 9386 9797 580 </a></p>
      <p> <strong> Facebook: </strong><a href="https://www.facebook.com/DorfladenEisenheim" target="_blank"> Dorfladen Eisenheim </a></p>
      <p> <strong> Instagram: </strong><a href="https://www.instagram.com/dorfladen_eisenheim/" target="_blank"> dorfladen_eisenheim </a></p>
      <p>In Facebook und Instagram findest du auch unsere aktuellen Sonderangebote!</p>
  </div>
</section> -->

<section class="grid-spaceAround center" id="process"> 
  <h2 class="col-12"> Process</h2>
  <div class="col-10 m-b-2">
    <div class="testimonial-slider-container testimonial"> 
    <!-------------------- SLIDE 1 ------------------------------>
    {%for slide in page.process%}
    <div class="slider-item"> 
      <h4>{{forloop.index}}. {{slide.title}}</h4>
      <p>
        {{slide.description}}
      </p>
    </div> 
    {%endfor%}
    </div> 
  </div>
</section> 

<hr class="col-12" id="blueline">


          