
<footer class="grid p-b-0">
    <div class="col-5_md-12 tall-20">
        <a href="/">
            <img src="/images/black-logo-svg.svg" class="max-logo">
        </a>
    </div>
    <nav class="col-3_md-6_sm-12-middle mob-hide">
        <ul>
            <li><a href="#about-us"> About Us </a></li>
            <li><a href="#certifications"> Certifications</a></li>
            <li><a href="#past-performance"> Past performance</a></li>
            <li><a href="#contact"> Get in touch </a></li>
        </ul>
    </nav>
    <div class="col-4_md_6-sm-12">
        <p> Reach out today and let’s get it done! </p>
      <p> <strong> Email: </strong> <a href="mailto:iveskov@veskoventerprises.com">iveskov@veskoventerprises.com </a></p>
      <p> <strong> Phone: </strong> <a href="tel:+1(571)406-9220 ">+1 (571) 406-9220  </a> </p>
      <!-- <p> <strong> Facebook: </strong> <a href="#">fb example </a> </p> -->
    </div>
    <div class="col-12 center copyright">
        AER - A Veskov Enterprises Company<br><i class="fa fa-copyright"></i> 2023 Design and code by <a href="https://www.lofterrawebdevelopment.com/"> Lofterra webdevelopment</a>
    </div>
    
</footer>