<header class="grid">
    <div class="col-5_sm-12">
        <a href="/">
            <img src="/images/alpha-logo.png" class="max-logo">
        </a>
    </div>
    <nav class="col-7_md-10-middle right tablet-hide">
        <a href="/index#about-us"> About Us  </a>
        <a href="/index#certifications"> Services  </a>
        <a href="/index#past-performance"> Past performance  </a>
        <a href="/index#pricing"> Pricing  </a>
        <!-- <a href="/lessons"> Lessons  </a> -->
        <a href="/index#contact" class="emphasis-button"> Get in touch </a>
    </nav>
    <hr class="col-2 left p-l-0 tablet-hide">
    <div class="col-4-middle right">
        <a class="hamburger-button mob-show"> &#9776; </a>
    </div>
   
</header>



<div class="mobile-menu"> 
    <nav> 
        <a href="/#about-us"> About Us </a>
        <a href="/#certifications"> Certifications </a>
        <a href="/#past-performance"> Past performance  </a>
        <a href="/#pricing"> Pricing  </a>
        <a href="/#contact" class="emphasis-button"> Get in touch </a>
    </nav>
  </div> 

